In [1]:
import pandas as pd
df = pd.read_excel('melt.xlsx')
df

      x     120000     140000  160000     180000  200000     220000
0   400   1.333333   1.142857    1.00   0.888889     0.8   0.727273
1   600   3.000000   2.571429    2.25   2.000000     1.8   1.636364
2   800   5.333333   4.571429    4.00   3.555556     3.2   2.909091
3  1000   8.333333   7.142857    6.25   5.555556     5.0   4.545455
4  1200  12.000000  10.285714    9.00   8.000000     7.2   6.545455
5  1400  16.333333  14.000000   12.25  10.888889     9.8   8.909091
6  1600  21.333333  18.285714   16.00  14.222222    12.8  11.636364

In [2]:
# assumes df with x values along left, y values along top, and values in the remaining space
df = (df.melt('x')
     ).rename(index=str, columns={"x": "a", "variable": "b", "value": "y"})
df

       a       b          y
0    400  120000   1.333333
1    600  120000   3.000000
2    800  120000   5.333333
3   1000  120000   8.333333
4   1200  120000  12.000000
5   1400  120000  16.333333
6   1600  120000  21.333333
7    400  140000   1.142857
8    600  140000   2.571429
9    800  140000   4.571429
10  1000  140000   7.142857
11  1200  140000  10.285714
12  1400  140000  14.000000
13  1600  140000  18.285714
14   400  160000   1.000000
15   600  160000   2.250000
16   800  160000   4.000000
17  1000  160000   6.250000
18  1200  160000   9.000000
19  1400  160000  12.250000
20  1600  160000  16.000000
21   400  180000   0.888889
22   600  180000   2.000000
23   800  180000   3.555556
24  1000  180000   5.555556
25  1200  180000   8.000000
26  1400  180000  10.888889
27  1600  180000  14.222222
28   400  200000   0.800000
29   600  200000   1.800000
30   800  200000   3.200000
31  1000  200000   5.000000
32  1200  200000   7.200000
33  1400  200000   9.800000
34  1600  200000  12.800000
35   400  220000   0.727273
36   600  220000   1.636364
37   800  220000   2.909091
38  1000  220000   4.545455
39  1200  220000   6.545455
40  1400  220000   8.909091
41  1600  220000  11.636364

In [3]:
# RESOURCES:
# carpet plots: https://en.wikipedia.org/wiki/Carpet_plot
# good plotly offline examples: https://github.com/SayaliSonawane/Plotly_Offline_Python/blob/master/Line%20Chart/line_chart.py
# other python for carpet plots: https://github.com/steve855/pyCarpetPlot/blob/master/pyCarpetPlot.py

import plotly
import plotly.graph_objs as go
from plotly.graph_objs import Layout,Scatter

trace1 = go.Carpet(
	#a = [125000,150000,175000,200000],
	#b = [1700,1700,1700,1700],
	#y = [1.63,1.74,1.86,1.97],
	a = df.a.tolist(),
    b = df.b.tolist(),
    y = df.y.tolist(),
    aaxis = dict(
		tickprefix = 'a = $',
		ticksuffix = '',
		smoothing = 1,
		minorgridcount = 9
		),
	baxis = dict(
		tickprefix = 'b = $',
		ticksuffix = '/hr',
		smoothing = 1,
		minorgridcount = 9
		)
	)


trace2 = go.Scattercarpet(
    a = [210000,175000],
    b = [2200,1900],
    line = dict(
      shape = 'spline',
      smoothing = 1,
      color = 'blue'
    )
  )

# this works too, but doesn't have labels, etc.
#data = [trace1, trace2]
#fig = go.Figure(data = data)
#plotly.offline.plot(fig, filename = "carpet2.jpeg")

plotly.offline.plot({
	"data": [trace1], 
	"layout": Layout(title="Carpet Plot Example",
					font=dict(family='Arial, sans-serif', size=18, color='rgb(0,0,0)'),
					yaxis=dict(
						title='Y-LABEL',
						titlefont=dict(
							family='Arial, sans-serif',
							size=18
							),
						showticklabels=True
						),
					margin=go.Margin(
						l=250,
						r=50
						)
					)
	},filename='Carpet.html',image='jpeg')

'file:///Users/matthewkudija/Desktop/pd_melt_carpet/Carpet.html'

![image](carpet.jpeg)